PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
	id INTEGER NOT NULL, 
	email VARCHAR NOT NULL, 
	hashed_password VARCHAR NOT NULL, 
	full_name VARCHAR, 
	is_active BOOLEAN, 
	is_admin BOOLEAN, 
	PRIMARY KEY (id)
);
CREATE TABLE notices (
	id INTEGER NOT NULL, 
	title VARCHAR, 
	content VARCHAR, 
	created_at DATETIME, 
	is_active BOOLEAN, 
	author_id INTEGER, image VARCHAR, 
	PRIMARY KEY (id), 
	FOREIGN KEY(author_id) REFERENCES users (id)
);
INSERT INTO notices VALUES(1,'bondo','klke coaching bondo','2026-07-01 22:56:23.485757',1,1,NULL);
CREATE TABLE fee_records (
	id INTEGER NOT NULL, 
	student_id INTEGER, 
	amount FLOAT, 
	month VARCHAR, 
	is_paid BOOLEAN, 
	payment_date DATE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(student_id) REFERENCES users (id)
);
INSERT INTO fee_records VALUES(1,1,1000.0,'July 2026',1,'2026-07-02');
INSERT INTO fee_records VALUES(2,4,500.0,'2026-07',1,'2026-07-16');
INSERT INTO fee_records VALUES(3,1,500.0,'2026-07',0,NULL);
CREATE TABLE exam_results (
	id INTEGER NOT NULL, 
	student_id INTEGER, 
	exam_id INTEGER, 
	score FLOAT, 
	total_correct INTEGER, 
	total_wrong INTEGER, 
	taken_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(student_id) REFERENCES users (id)
);
INSERT INTO exam_results VALUES(1,3,1,1.0,1,0,'2026-07-02 00:46:29.175508');
INSERT INTO exam_results VALUES(2,3,1,1.0,1,0,'2026-07-02 00:46:58.447175');
INSERT INTO exam_results VALUES(3,1,1,10.0,10,0,'2026-07-16 15:46:15.802513');
CREATE TABLE routines (
	id INTEGER NOT NULL, 
	date VARCHAR, 
	start_time VARCHAR, 
	end_time VARCHAR, 
	class_level VARCHAR, 
	class_name VARCHAR, 
	teacher_name VARCHAR, 
	updated_at DATETIME, 
	author_id INTEGER, branch VARCHAR, 
	PRIMARY KEY (id), 
	FOREIGN KEY(author_id) REFERENCES users (id)
);
INSERT INTO routines VALUES(4,'2026-07-24','18:00','19:00','HSC  2nd year','পৌরনীতি ,ভূগল','্প্রিয়াঙ্কা ম্যাম','2026-07-01 08:17:40.488219',1,NULL);
INSERT INTO routines VALUES(5,'2026-07-24','18:00','19:00','HSC  2nd year/9','Accounting','Mim Islam','2026-07-01 08:19:12.016148',1,NULL);
INSERT INTO routines VALUES(6,'2026-07-24','18:00','19:00','9','Physics','Ria mam','2026-07-01 08:20:01.631583',1,NULL);
CREATE TABLE students (
	id INTEGER NOT NULL, 
	student_uid VARCHAR, 
	name VARCHAR NOT NULL, 
	class_level VARCHAR, 
	branch VARCHAR, 
	phone VARCHAR, 
	guardian_phone VARCHAR, 
	created_at DATETIME, father_name VARCHAR, mother_name VARCHAR, gender VARCHAR DEFAULT 'ছেলে', 
	PRIMARY KEY (id)
);
INSERT INTO students VALUES(3,'RC-003','Miraz','Class 9','দ্বিতীয় শাখা','','01778172927','2026-07-02 00:04:40.371941','','','ছেলে');
INSERT INTO students VALUES(4,'RC-004','Walid','Class 9','দ্বিতীয় শাখা','','01975358480','2026-07-02 00:12:45.929432','','','ছেলে');
CREATE TABLE attendance (
	id INTEGER NOT NULL, 
	student_id INTEGER, 
	date DATE, 
	branch VARCHAR, 
	class_level VARCHAR, 
	is_present BOOLEAN, 
	marked_by VARCHAR, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(student_id) REFERENCES students (id)
);
INSERT INTO attendance VALUES(1,1,'2026-07-01','২য় শাখা','Class 9',1,'অ্যাডমিন','2026-07-01 23:47:53.704057');
CREATE TABLE exams (
	id INTEGER NOT NULL, 
	title VARCHAR, 
	subject VARCHAR, 
	duration_minutes INTEGER, 
	is_active BOOLEAN, 
	created_at DATETIME, 
	PRIMARY KEY (id)
);
INSERT INTO exams VALUES(1,'biggan quiz','physics',30,1,'2026-07-02 00:35:02.432139');
CREATE TABLE questions (
	id INTEGER NOT NULL, 
	exam_id INTEGER, 
	text VARCHAR, 
	options VARCHAR, 
	correct_answer INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(exam_id) REFERENCES exams (id)
);
INSERT INTO questions VALUES(1,1,'আলোর পৃথিবীতে আসতে কত সময় লাগে?','["ক) ৭ মিনিট","খ)৮ মিনিট","গ) ৯ মিনিট","ঘ) ১০ মিনিট"]',1);
CREATE TABLE teacher_attendance (
	id INTEGER NOT NULL, 
	teacher_name VARCHAR, 
	date VARCHAR, 
	classes_taken INTEGER, 
	subjects VARCHAR, 
	batches VARCHAR, 
	status VARCHAR, 
	created_at DATETIME, 
	PRIMARY KEY (id)
);
CREATE TABLE teachers (
	id INTEGER NOT NULL, 
	name VARCHAR, 
	teacher_uid VARCHAR, 
	hashed_password VARCHAR, 
	image VARCHAR, 
	created_at DATETIME, 
	is_active BOOLEAN, 
	PRIMARY KEY (id)
);
CREATE UNIQUE INDEX ix_users_email ON users (email);
CREATE INDEX ix_users_id ON users (id);
CREATE INDEX ix_notices_id ON notices (id);
CREATE INDEX ix_notices_title ON notices (title);
CREATE INDEX ix_fee_records_id ON fee_records (id);
CREATE INDEX ix_exam_results_id ON exam_results (id);
CREATE INDEX ix_routines_id ON routines (id);
CREATE INDEX ix_routines_date ON routines (date);
CREATE INDEX ix_students_id ON students (id);
CREATE UNIQUE INDEX ix_students_student_uid ON students (student_uid);
CREATE INDEX ix_attendance_student_id ON attendance (student_id);
CREATE INDEX ix_attendance_id ON attendance (id);
CREATE INDEX ix_attendance_date ON attendance (date);
CREATE INDEX ix_exams_title ON exams (title);
CREATE INDEX ix_exams_id ON exams (id);
CREATE INDEX ix_questions_id ON questions (id);
CREATE INDEX ix_teacher_attendance_teacher_name ON teacher_attendance (teacher_name);
CREATE INDEX ix_teacher_attendance_id ON teacher_attendance (id);
CREATE INDEX ix_teacher_attendance_date ON teacher_attendance (date);
CREATE UNIQUE INDEX ix_teachers_teacher_uid ON teachers (teacher_uid);
CREATE INDEX ix_teachers_id ON teachers (id);
CREATE INDEX ix_teachers_name ON teachers (name);
COMMIT;
